{% extends "moderate/base.html" %}
{% block title %}Rating List{% endblock %}

{% block content %}
<div>
    <div style="background-color:rgb(243, 252, 128);width:400px">
        First Mod: <h2>{{first}}</h2> rating: <h2>{{rate1}}</h2>
    </div>
    <div style="background-color:rgb(209, 212, 211);width:400px">
        Second Mod: <h2>{{second}}</h2> rating: <h2>{{rate2}}</h2>
    </div>
    <div style="background-color:rgb(245, 170, 40);width:400px">
        Third Mod: <h2>{{third}}</h2> rating: <h2>{{rate3}}</h2>
    </div>
</div>
{% endblock %}