{% extends "moderate/base.html" %}
{% block title %}Searched List{% endblock %}

{% block content %}
<div>
    <div style="background-color:rgb(243, 252, 128);width:400px">
        First Mod: <h2>{{first}}</h2> Searched <h2>{{search1}}</h2> times
    </div>
    <div style="background-color:rgb(209, 212, 211);width:400px">
        Second Mod: <h2>{{second}}</h2> Searched <h2>{{search2}}</h2> times
    </div>
    <div style="background-color:rgb(245, 170, 40);width:400px">
        Third Mod: <h2>{{third}}</h2> Searched <h2>{{search3}}</h2> times
    </div>
</div>
{% endblock %}