{% extends "moderate/base.html" %}
{% block title %}View List{% endblock %}

{% block content %}
    <h1 style="color:rgb(139, 54, 54)"><u>View</u></h1>
    <br>
    <button style="height:200px; width:300px; background-color: rgb(236, 134, 134);" onclick="location.href = '/view/rating/'"><h2>Highest-Rated Mods</h2></button>
    <button style="height:200px; width:300px; background-color: rgb(236, 134, 134);" onclick="location.href = '/view/searched/'"><h2>Most-Searched Mods</h2></button>
{% endblock %}